body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #181824;
  gap: 10px;
  height: 97vh;
  width: 97vw;
}

.container, .display, .btn, .to-do {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn, .display > input{
  padding: 10px;
}
input{
  box-shadow: 0 0 20px #000;
  border-radius: 20px 0 0 20px;
  margin: 0;
  background: transparent;
  border: none;
}
.btn > button{
  box-shadow: 0 0 20px #000;
  color: aliceblue;
  padding: 10px;
}
button:hover{
  box-shadow: 0 0 20px #fff;
  transition: all 1s ease-in-out;
}
.btn{
  border-radius: 0 20px 20px 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
.to-do{
    flex-flow: column;
}

.container1 {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  font-size: larger;
  width: 200px;
  margin: 5px 0;
  padding: 5px;
}

.box2 {
  cursor: pointer;
  /* flex: 1; */
  padding-left: 5px;
}
